<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projet réservations - Bienvenue{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <div style="float:right">
                <p>Vous n'êtes pas connecté.</p>
                <p><a href="{% url 'login' %}">Se connecter</a></p>
            </div>
        </header>    
        <div id="notification">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
       </div>
    
        {% block content %}{% endblock %}
    </div>
</body>
</html>
